﻿@model List<studProfkom.Models.Application>
@{
    ViewBag.Title = "Студпрофком УАД - Гуртожитки";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="chummeries-wrapper">
    <h3>
        Гуртожитки <span class="title-caption">що потрібно для успішного поселення</span>
        @if (base.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Заявки", "StudentsApplications", "Profkom", null, new { @class = "show-applications-link" })
        }
    </h3>
    <div class="chummerie-guide-wrapper">
      <h2>При поселенні в гуртожиток в наявності потрібно мати наступні документи:</h2>
      <ol>
        <li>
          Паспорт з відміткою про зняття з реєстраційного обліку за попереднім місцем реєстрації, з двома листками вибуття. Фото 3х4 (4 шт).
        </li>
        <li>
          Квитанція про оплату тут за 2018/19  н/р (5760,00 грн./рік)
        </li>
        <li>
          Для студентів соціально-незахищених категорій (напівсироти, інваліди, постраждалі від ЧАЕС, діти учасників АТО) (2880 грн/ 6 міс.) - Ордер на поселення(видає деканат в день поселення).
        </li>
        <li>
          Для військовозобов’язаних необхідно стати на військовий облік (вул. Під Голоском, 19, каб. 225 в день поселення ).
        </li>
        <li>
          Заповнити форму попередньої реєстрації нижче на цій сторінці.
        </li>
      </ol>

      <h2>Додаткові документи для військовозобов’язаних вступників:</h2>
      <ol>
        <li>Знятись з військового обліку за місцем реєстрації</li>
        <li>Отримати довідку у військовому обліку УАД (буде працювати під час поселення)</li>
        <li>В паспортиста гуртожитку написати заяву і оформити талони на реєстрацію</li>
      </ol>
    </div>

    <div class="chummerie-application-wrapper">
      @*<div class="chummerie-application-placeholder">
        <span class="chummerie-application-placeholder-text">
          Наразі подачу заявок призупинено
        </span>
      </div>*@
      <form class="form">
        <div class="form-group">
          <label for="full-name">ПІБ: </label>
          <input type="text" class="form-control" id="full-name" name="full-name"/>
        </div>
        <div class="form-group">
          <label for="city">Вкажіть звідки ви: </label>
          <input type="text" class="form-control" id="city" name="city"/>
        </div>
        <div class="form-group">
          <label for="faculty">Назва факультету: </label>
          @Html.DropDownList("Faculties", new SelectList(ViewBag.Faculties, "Id", "Name"), new { @class = "form-control", id = "faculty", name = "faculty" })
        </div>
        <div class="form-group">
          <label for="phone">Номер телефону: </label>
          <input type="text" class="form-control" id="phone" name="phone"/>
        </div>
        <button class="btn btn-success" type="submit">Надіслати</button>
        <button class="btn btn-default" type="reset">Очистити</button>
        <div class="submition-indicator"></div>
      </form>
    </div>

    <p>Поселення відбуватиметься по факультетах:</p>
    <ul>
      <li>ВПІТ – 28 серпня (всі регіони, крім Львівської області) - 30 серпня (Львівська область) /гуртожиток №1, вул. Підголоско, 23/</li>
      <li>МКП (колишній ЕОКС) – 29 серпня (всі регіони, крім Львівської області) - 30 серпня (Львівська область) /гуртожиток №1, вул. Підголоско, 23/</li>
      <li>КПІ - 30-31 серпня  /гуртожиток №3, вул. Підголоско, 20/</li>
    </ul>
    <div class="chummerie-descript">
      <p>Студенти зареєстровані в студентському гуртожитку мають право на призначення житлової субсидії.</p>
    </div>
    <p>За детальною інформацією звертайтесь до комісії з поселення: м. Львів, вул. Під Голоском, 19, к.311, тел. (032) 242-23-98, +380676723173</p>
</div>
