﻿@model studProfkom.Models.User
@{
    ViewBag.Title = "Студпрофком УАД - Вхід у систему";
    Layout = "~/Views/_mainLayout.cshtml";
}

<h3>Увійти в систему <span class="title-caption">лише для адміністратора</span></h3>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Введіть дані користувача</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Username, "Логін")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password, "Пароль")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
    </fieldset> 
}
